.contenedor{
    margin: 0%;
    padding:0%;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
.contenedor span{
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
font-size: 90%;
}

.contenedor button{
   float: left;
   margin-left: 50px;
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 90%;
}
 
.boton{
    padding: 8%;
}


@media (max-width: 1150px){


.contenedor mat-toolbar{
    height: 150px;
}
.span{   
    text-align: center;
    margin-top: -5%;
    margin-left: 30%;
}
      
.boton{
    margin-left: -50%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

}

@media (max-width: 898px){
    .boton{
        margin-left: -450px;
        display: flex;
        float:flex;
    }
}