<div class="contenedor">

    <p>
        <mat-toolbar color="primary">
          <div class="span">
            <span>Mowin Tecnologies Prueba Tecnica </span>
          </div>

          
          <div class="boton">
            <button mat-button [routerLink]="['/']">Home</button>
            <button mat-button [routerLink]="['/card']">Personajes </button>
            
            <button mat-button [routerLink]="['/carousel']">Carousel</button>
          </div>
        </mat-toolbar>
      </p>
</div>
