<div class="footer">

        <mat-toolbar color="primary">
                <div class="row">
                        <div class="col-5">
                                <h2>Diana Catalina Salazar</h2>
                        </div>
                        <div class="col-5" >
                                 <h2 style="margin-left: 490%;" id="correo">dianac.salazarg@gmail.com</h2>
                                
                        </div>
                               
                </div>

        </mat-toolbar>



</div>